@model IEnumerable<FolderViewModel>

    <div class="main-buttons">
        <button type="button" 
                class="btn btn-outline-success" 
                data-toggle="ajax-modal" 
                data-target="#createModal" 
                data-url="@Url.Action($"Add", "Folder")">
            <i class="fas fa-folder-plus"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary" onclick="sortClick('myUL', 'asc')">
            <i class="fas fa-sort-alpha-down"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary" onclick="sortClick('myUL', 'desc')">
            <i class="fas fa-sort-alpha-up"></i>
        </button>
        <button type="button" class="btn btn-outline-warning" id="open">
            @*<i class="far fa-folder"></i>*@
            <i class="far fa-folder-open"></i>
        </button>
    </div>
<ul id="myUL" style="text-align: left;">
    @foreach (var child in Model ?? new List<FolderViewModel>())
    {
        @if (child.Parent == null)
        {
            await Html.RenderPartialAsync("../TreeView/_TreeNode", child);
        }
    }
</ul>

<div id="modal-placeholder"></div>

