@model IEnumerable<FolderViewModel>

    <div>
        <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#createModal" data-url="@Url.Action($"Add", "Home")">
            +
        </button>
        <button type="button" class="btn btn-light" data-toggle="ajax-modal" data-target="#createModal" data-url="@Url.Action($"Add", "Home")">
            sort all
        </button>
        <button type="button" class="btn btn-light" data-toggle="ajax-modal" data-target="#createModal" data-url="@Url.Action($"Add", "Home")">
            open all
        </button>
    </div>
<ul id="myUL" style="text-align: left;">
    @foreach (var child in Model ?? new List<FolderViewModel>())
    {
        @if (child.Parent == null)
        {
            await Html.RenderPartialAsync("../TreeView/_TreeNode", child);
        }
    }
</ul>

<div id="modal-placeholder"></div>

