@model IEnumerable<FolderViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>index page</p>
    @{
        await Html.RenderPartialAsync("../TreeView/_TreeView", Model);
    }
</div>
