@model IEnumerable<FolderViewModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "FolderManager";
}

<div class="tree-view">
    @{
        await Html.RenderPartialAsync("../TreeView/_TreeView", Model);
    }
</div>
