@model IEnumerable<FolderManager.Domain.Models.FolderViewModel>

@{
    Layout = "_Layout";
}

<div class="tree-view">
    @{
        await Html.RenderPartialAsync("../TreeView/_TreeView", Model);
    }
</div>
