ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: left;
}

#myUL li {
    padding: 5px;
    position: relative;
}

#myUL li span:hover:after {
    content: '';
    width: 100%;
    height: 32px;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    border-radius: 5px;
    position: absolute;
    left: 0;
    z-index: -1;
}

#myUL .tree-buttons{
    align-content: flex-end;
}

.caret {
    cursor: pointer;
}

.caret::before {
    content: "\003E";
    color: #5b5151;
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
    padding: 10px;
}

.active {
    display: block;
}

li button.btn {
    height: 25px;
    font-size: 18px;
    border: none;
    padding: 0;
    padding-left: 7px;
    padding-right: 7px;
}

 li button.btn:hover {
    background-color: #f4f4f4;
    color: black;
}

.main-buttons {
    margin-top: 20px;
    margin-bottom: 15px;
}
